In [4]:
import pandas as pd 
arquivo = pd.read_csv('C:\wine_dataset.csv')

arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
#Troca a nome 'red' ou 'white' por 0 e 1 respectivamente.
arquivo['style'] = arquivo['style'].replace('red',0)
arquivo['style'] = arquivo['style'].replace('white',1)

In [6]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [7]:
#Separa variaveis entre preditoras e alvo 'style' 
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [8]:
from sklearn.model_selection import train_test_split
#Conjunto de dados de treino.
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,test_size = 0.3)

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
#Criando modelo 
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#Resultado do treino
resultado = modelo.score(x_teste,y_teste)
print('Acurácia:', resultado)

Acurácia: 0.9953846153846154

In [10]:
y_teste[400:403]

4226    1
4092    1
6247    1
Name: style, dtype: int64

In [11]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4226,7.8,0.17,0.23,1.70,0.029,39.0,128.0,0.99272,3.37,0.41,10.7,7
4092,7.6,0.31,0.23,12.70,0.054,20.0,139.0,0.99836,3.16,0.50,9.7,4
6247,6.7,0.61,0.21,1.65,0.117,40.0,240.0,0.99380,3.11,0.57,9.3,5

In [12]:
classe = modelo.predict(x_teste[400:403])
classe

array([1, 1, 1], dtype=int64)